ERP/__pycache__/urls.cpython-312.pyc
ERP/__pycache__/urls.cpython-312.pyc
ERP/__pycache__/urls.cpython-312.pyc
ERP/__pycache__/urls.cpython-312.pyc
ERP/__pycache__/urls.cpython-312.pyc
templates/navegacion/nav.html
templates/productos/agregar_productos.html
static/css/navbar.css
