<<<<<<< Updated upstream
/* Reset de márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo del cuerpo */
body {
    background-color: #f8f9fa; /* o el color base de tu contenido */
    font-family: Arial, sans-serif;
}

/* Estilo general para navbar */
.navbar {
    background-color: #0769e6 !important;
    padding: 0.5rem 1rem;
}

/* Elimina márgenes internos entre los items */
=======
.navbar {
    background-color: #a80000;
}

>>>>>>> Stashed changes
.nav-item {
    margin-right: 0.8rem;
}

<<<<<<< Updated upstream
/* Enlaces del navbar */
.nav-link {
    padding: 0.5rem 0.7rem;
    color: #ffffff !important;
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #ffdd57 !important; /* un amarillo suave para hover */
}

/* Texto blanco más pequeño */
.text-white {
    font-size: 0.8rem;
}

/* Íconos */
.nav-link i {
    font-size: 1rem;
}

/* Espaciado del usuario autenticado */
=======
.nav-link {
    padding: 0.5rem 0.7rem;
    color: #ffffff !important;
    font-size: 0.9rem; /* Tamaño reducido */
}

.nav-link:hover {
    color: #ffbb33 !important;
}

.text-white {
    font-size: 0.8rem; /* Tamaño reducido */
}

.nav-link i {
    font-size: 1rem; /* Tamaño reducido */
}

>>>>>>> Stashed changes
.d-flex.align-items-center {
    margin-left: 1rem;
}

<<<<<<< Updated upstream
/* Logo */
.navbar-brand img {
    height: 1.5rem;
}

/* Botón hamburguesa */
.navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.navbar-toggler img {
    height: 30px;
    width: auto;
}

/* Asegura que el fondo del menú colapsado sea azul también */
.navbar-collapse,
.navbar-nav,
.dropdown-menu {
    background-color: #0769e6 !important;
}

/* Dropdown items */
.dropdown-item {
    color: #ffffff !important;
=======
.navbar-brand img {
    height: 1.5rem; /* Ajustar la altura de la imagen si es necesario */
}

.navbar-toggler {
    border: none; 
    background-color: transparent; 
    padding: 0.5rem;
    font-size: 0.75rem; 
}

.navbar-toggler img {
    height: 30px; 
    width: auto; 
}

.navbar-collapse {
    background-color: #a80000;
}

.dropdown-menu {
    background-color: #850000; 
    border: none; 
}

.dropdown-item {
    color: #ffffff;
>>>>>>> Stashed changes
    font-size: 0.8rem;
}

.dropdown-item:hover {
<<<<<<< Updated upstream
    background-color: #005ac1 !important; /* un azul más oscuro al hacer hover */
    color: #ffdd57 !important;
}
=======
    background-color: #a80000;
    color: #ffbb33; 
}
>>>>>>> Stashed changes
